#mesages-pad{
	background: #111;
	position: absolute;
	top :60px;
	bottom: 30px;
	width: 100%;
}
#header{
	background: #333;
	position: absolute;
	top :0px;
	height: 60px;
	width: 100%;
}
#header> #title{
	height: 20px;
	font-size: 20px;
}

#footer{
	background: #222;
	position: absolute;
	bottom :0px;
	height: 30px;
	width: 100%;
}

#message-button{
	background: #ea3;
	color: #eee;
}

#mesages-pad{
	font-size: 20px;
	color:  #ea3;
}